* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  background-color: #e3e6e6;
}
.navbar {
  height: 60px;
  width: 100%;
  background-color: #0f1111;
  color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}
/*second box*/

.nav-add {
  height: 50px;
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-one {
  color: #cccccc;
  font-size: 0.75rem;
  margin-left: 32px;
}
.add-second {
  font-size: 1rem;
  font-weight: 200;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}
/*box 3*/

.nav-search {
  display: flex;
  width: 600px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: space-evenly;
}

.nav-search:hover {
  border: 2px solid orange;
}
.search-select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e6e6e6;
  width: 50px;
  text-align: center;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

input::placeholder {
  padding: 7px 10px 10px 10px;
}
.search-icon {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 45px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: #0f1111;
  background-color: #febd68;
}
/*box 4*/

span {
  font-size: 0.7rem;
}
.nav_second {
  font-size: 0.85rem;
  font-weight: 700;
}
/**box 5**/
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  margin-right: 1rem;
  font-size: 0.85rem;
  font-weight: 700;
}
/**panel**/

.panel {
  height: 39px;
  width: 100%;
  background-color: #232f3e;
  padding: 8px 9px 8px 09px;
  display: flex;
  color: #e6e6e6;
  justify-content: start;
  gap: 15px;
}
.panel a {
  font-size: 0.9rem;
  font-weight: 520;
  padding: 5px;
  text-decoration: none;
  color: #e6e6e6; /* Set the color as needed */
}
.panel-all i {
  font-size: 1.25rem;
}
.panel-all {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.panel-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/**Hero Section**/

.hero-section {
  background-image: url("util/hero_image.jpg");
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
}
.hero-message {
  background-color: white;
  height: 40px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 0.85rem;
  position: relative;
  top: 60%;
}
.hero-message a {
  color: #007185;
}
/*shop section*/

.shop {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
.shop h2 {
  margin: 1.5rem 0 0 1.5rem;
  font-size: 1.3rem;
}

.box {
  background-color: white;
  height: 26.25rem;
  width: 22.5rem;
}
.shop-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: 2rem 0 0 2rem;
}
.shop-content img {
  height: 6.8rem;
  width: 8rem;
}
.shop-content2 img {
  height: 17rem;
  width: 17rem;
  margin: 2rem 0 0 2.7rem;
}
/**shop2*/
.shop2 {
  display: flex;
  justify-content: center;
}
.box-shop2 {
  background-color: white;
  width: 95.45%;
  height: 14.25rem;
  margin-top: 1.5rem;
}
.header-shop2 {
  margin: 1rem 0 0 1.7rem;
}
.content-shop2 {
  display: flex;
  justify-content: space-around;
  margin-top: 0.85rem;
}
.content-shop2 img {
  height: 9.8rem;
  width: 11rem;
}
