* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}
.navbar {
  height: 60px;
  width: 100%;
  background-color: #0f1111;
  color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}
/*second box*/

.nav-add {
  height: 50px;
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-one {
  color: #cccccc;
  font-size: 0.75rem;
  margin-left: 32px;
}
.add-second {
  font-size: 1rem;
  font-weight: 200;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}
/*box 3*/

.nav-search {
  display: flex;
  width: 600px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: space-evenly;
}

.nav-search:hover {
  border: 2px solid orange;
}
.search-select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e6e6e6;
  width: 50px;
  text-align: center;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

input::placeholder {
  padding: 7px 10px 10px 10px;
}
.search-icon {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 45px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: #0f1111;
  background-color: #febd68;
}
/*box 4*/

span {
  font-size: 0.7rem;
}
.nav_second {
  font-size: 0.85rem;
  font-weight: 700;
}
/**box 5**/
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  margin-right: 1rem;
  font-size: 0.85rem;
  font-weight: 700;
}
